<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="../common/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../common/lib/css/reset.css">
    <script>
      var system = {
        addUrl : '/games/<%=gameName%>/addUrl',
        reduceUrl : '/games/<%=gameName%>/reduceUrl',
        checkUrl : '/games/<%=gameName%>/checkUrl',
        updateUrl : '/games/<%=gameName%>/updateUrl',
      }
    </script>
</head>
<body>
    <button onclick="addFunc();">add</button>
    <button onclick="reduceFunc();">reduce</button>
    <button onclick="checkFunc();">check</button>
    <button onclick="updateFunc();">update</button>

	<!-- TODO... -->
	<script src="../common/lib/js/jquery/jquery-1.8.3.min.js"></script>
	<script src="./js/index.js"></script>
</script>
</body>
</html>